<template>
  <div>
      <el-form :model="recordForm" :rules="recordRules" ref="recordForm" label-position="left" label-width="100px">
        <el-form-item label="Amount($) " prop="amount">
          <el-input v-model="recordForm.amount"></el-input>
        </el-form-item>
        <el-form-item label="Date " prop="date">
          <el-date-picker type="date" placeholder="Pick a date" v-model="recordForm.date" style="width: 100%;"></el-date-picker>
        </el-form-item>
        <el-form-item label="Type ">
          <el-form-item id="typeSelect" prop="type">
            <el-select v-model="recordForm.type" placeholder="select a type" @change="enableAndLoadSubtype">
              <el-option v-for="item in typeOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item id="subTypeSelect" prop="subType">
            <el-select v-model="recordForm.subType" :disabled="subTypeDisabled" placeholder="sub category">
              <el-option v-for="subItem in subTypeOptions" :key="subItem.value" :label="subItem.label" :value="subItem.value"></el-option>
            </el-select>
          </el-form-item>
        </el-form-item>
        <el-form-item label="Description ">
          <el-input v-model="recordForm.description" type="textarea" :rows="13"></el-input>
        </el-form-item>
      </el-form>
      <p class="btn-left">
        <el-button type="default" size="large" @click="discardBtnClick">Cancle</el-button>
      </p>
      <p class="btn-right">
        <el-button type="primary" size="large" @click="acceptBtnClick('recordForm')">Done</el-button>
      </p>
  </div>
</template>

<script>
// TODO: Record emit an edit event to event bus and AddRecordPanel handles it to load the corresponding record to edit.
// TODO: In a long run, this need to be changed to using router, such as /editRecord/id=<id>,
//        and AddRecordPanel retrieve record from server.
/* eslint no-eval: 0 */
import { RecordClass } from '@/components/RecordClass.js'
// import { sleep } from '@/components/helper.js'
import axios from 'axios'
import EventBus from '@/components/EventBus.js'
var typeJsonObject = null
// Wait 500ms for loading types.json initially.
// If typeJsonObject is null when enableAndLoadSubtype is called,
// each call to setTimeOut will increase wait time by 100.
var loadTypeJsonWaitTime = 500
export default {
  data () {
    return {
      recordObj: new RecordClass(),
      recordForm: {
        amount: '',
        date: '',
        type: '',
        subType: '',
        description: ''
      },
      recordRules: {
        amount: [
          { validator: this.validateAmountForm, trigger: 'blur' }
        ],
        date: [
          { type: 'date', validator: this.validateNonEmptyInput, trigger: 'change' }
        ],
        type: [
          { validator: this.validateNonEmptyInput, trigger: 'change' }
        ],
        subType: [
          { validator: this.validateNonEmptyInput, trigger: 'blur' }
        ]
      },
      typeOptions: [],
      subTypeOptions: [],
      subTypeDisabled: true,
      // isEditMode is used to have different behavior for Done button.
      isEditMode: false,
      editRecordId: -1
    }
  },
  methods: {
    // Before cancle or accept, first exit isEditMode.
    discardBtnClick () {
      this.resetForm('recordForm')
      if (this.isEditMode) {
        console.log('discardBtnClick')
        console.log(this.editRecordId)
        EventBus.$emit('recordEditDiscarded', this.editRecordId)
      }
      this.isEditMode = false
      this.$router.back()
    },
    acceptBtnClick (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.recordObj.setData(this.recordForm.date, this.recordForm.amount, this.recordForm.type, this.recordForm.subType, this.recordForm.description)
          this.resetForm('recordForm')
          this.$router.back()
          if (this.isEditMode) {
            this.isEditMode = false
            this.recordObj.setId(this.editRecordId)
            EventBus.$emit('recordEdited', this.recordObj)
          } else {
            EventBus.$emit('recordAdded', this.recordObj)
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
      console.log('Accept button clicked.')
    },
    validateAmountForm (rule, value, callback) {
      if (!value) {
        callback(new Error('Amount can not be empty!'))
      }
      var re = /^[()*+-./ \d]+$/
      if (!re.test(value)) {
        console.log('Contains invalid character!')
        this.recordForm.amount = ''
        callback(new Error('Amount needs to be a number!'))
      } else {
        var evalRtn
        try {
          evalRtn = eval(value)
        } catch (e) {
          callback(new Error('Invalid Expression Detected!'))
          this.recordForm.amount = ''
          return
        }
        this.recordForm.amount = evalRtn
        callback()
      }
    },
    validateNonEmptyInput (rule, value, callback) {
      var msg = 'This field is required!'
      if (rule.type === 'date') {
        msg = 'Need to input a Date!'
      }
      if (value) {
        callback()
      } else {
        callback(new Error(msg))
      }
    },
    enableAndLoadSubtype () {
      var currValue = this.recordForm.type
      if (this.recordForm === undefined) {
        return
      }
      if (typeJsonObject === null) {
        console.log('typeJsonObject still null!')
        console.log(loadTypeJsonWaitTime)
        loadTypeJsonWaitTime = loadTypeJsonWaitTime + 50
        setTimeout(this.enableAndLoadSubtype, loadTypeJsonWaitTime)
        return
      }
      if (!this.isEditMode) {
        this.recordForm.subType = null
      }
      console.log('In enableAndLoadSubtype')
      console.log(currValue)
      // Check if currValue has some value. currValue will be empty if this is triggered by form reset.
      if (currValue) {
        this.subTypeDisabled = false
        var subTypes = typeJsonObject[currValue].subType
        this.subTypeOptions = []
        for (var i = 0; i < subTypes.length; i++) {
          this.subTypeOptions.push({'value': subTypes[i].value, 'label': subTypes[i].label})
        }
      }
    },
    resetForm (formName) {
      this.recordForm.description = ''
      this.$refs[formName].resetFields()
    }
  },
  created: function () {
    console.log('mounted')
    axios.get('http://localhost:8080/type_file').then(response => {
      typeJsonObject = JSON.parse(response.data)
      for (var idx = 0; idx < Object.keys(typeJsonObject).length; idx++) {
        var key = Object.keys(typeJsonObject)[idx]
        this.typeOptions.push({'value': typeJsonObject[key].value, 'label': typeJsonObject[key].label})
      }
    }).catch(e => {
      console.log(e)
    })
  },
  mounted: function () {
    EventBus.$on('recordEditBtnClick', (received) => {
      console.log('recordEditBtnClick')
      console.log(received)
      console.log(received.amount)
      console.log(received.date)
      this.recordForm.amount = received.amount
      this.recordForm.date = received.date
      this.recordForm.type = received.type
      this.recordForm.description = received.description
      this.recordForm.subType = received.subType
      this.isEditMode = true
      this.editRecordId = received.id
      console.log('Done')
    })
  }
}
</script>

<style scoped>
  p {
    color: black;
  }
</style>


<style>
  div {
    padding-bottom: 0px;
  }
  .el-form-item label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .el-date-picker, .el-select-dropdown__item {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
  }
  #first-label {
    margin-top: 12px;
  }
  .input-field {
    float: right;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .btn-left {
    float: left;
    width: 48%;
  }
  .btn-right {
    float: right;
    width: 50%;
    padding-right: 0px;
  }
  .el-button {
    width: 210px;
  }
  .btn-right .el-button {
    float: right;
  }
  #typeSelect {
    min-width: 140px;
    width: 49%;
    float: left;
  }
  #subTypeSelect {
    min-width: 140px;
    float: right;
    width: 45%;
    margin-left: 10px;
    margin-right: 0px;
  }
</style>


