<template>
  <div class="Record">
    <transition name="fade" mode="out-in">
    <el-row key="3" v-if="!isDetailDisplay">
      <!-- This additional el-row is needed for the click event to work properly! -->
      <el-row>
        <el-col :span="6">
          <div><p class="DateField">{{ date }}<br/>{{ month }} / {{ year }}</p></div>
        </el-col>
        <el-col :span="6">
          <div><p class="TypeField">{{ record.type }}<br/>{{ subTypeDisplayed }}</p></div>
        </el-col>
        <el-col :span="12">
          <div class="AmountField">
            <a v-on:click="showRecordDetail">
              <i class="el-icon-arrow-right"></i>
              <p class="RecordDateAmount">$ {{ record.amount }}</p>
              <!-- <p class="RecordType">{{ record.type }}</p> -->
            </a>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <hr>
      </el-row>
    </el-row>
    <el-row key="1" v-else>
      <el-row>
        <el-col :span="19" @click.native="showRecordOverview">
          <div class="DescriptionField">{{ record.description }}</div>
        </el-col>
        <el-col :span="5">
          <el-row @click.native="editRecordClick">
            <div class="EditField">Edit</div>
            <hr class="EditFieldHr">
          </el-row>
          <el-row @click.native="deleteRecordClick">
            <div class="DeleteField">Delete</div>
          </el-row>
        </el-col>
      </el-row>
      <el-row><hr></el-row>
    </el-row>
    </transition>
  </div>
</template>

<script>
// TODO: Reset record view to normal(no description) whenever going back from addRecordPanel.
// TODO: If no description is given, add a system generated placeholder at description.
// TODO: Allow setting a recurring record. For example, rent is automatically added the first day of every month.
import EventBus from '@/components/EventBus.js'
import { sleep, pad } from '@/components/helper.js'
export default {
  data () {
    return {
      isDetailDisplay: false
    }
  },
  computed: {
    year: function () {
      return (new Date(this.record.date)).getFullYear()
    },
    month: function () {
      return pad((new Date(this.record.date)).getMonth() + 1, 2)
    },
    date: function () {
      return pad((new Date(this.record.date)).getDate(), 2)
    },
    subTypeDisplayed: function () {
      return this.record.subType.split('_').slice(-1)[0]
    }
  },
  props: ['record'],
  methods: {
    showRecordOverview: function (evt) {
      this.isDetailDisplay = false
    },
    showRecordDetail: function (evt) {
      console.log('Display detail here.')
      console.log(this.record)
      this.isDetailDisplay = true
    },
    editRecordClick: function (evt) {
      console.log('Edit record click')
      this.$router.push('add-record')
      console.log(this.record.date)
      // Since event is registered on create, this sleep is needed for AddRecordPanel to get this event.
      sleep(100).then(() => {
        EventBus.$emit('recordEditBtnClick', this.record)
      })
    },
    deleteRecordClick: function (evt) {
      console.log(this.record.id)
      this.$emit('recordDeleted', this.record.id)
    }
  }
}
</script>

<style scoped>
  hr {
    height: 0;
    border: 0.1;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.05);
    width: 94%;
  }
  .EditFieldHr {
    margin-top: 40%;
    position: absolute;
    width: 80%;
  }
  .el-col {
    padding-bottom: 5px;
  }
  .Record {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #166DAE;
  }
  .Record a i {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 1.5%;
  }
  .RecordDateAmount {
    margin: 0;
    width: 70%;
    padding: 0px;
    padding-left: 30px;
    font-size: 20px;
    text-align: center;
  }
  .DateField, .TypeField {
    border-radius: 5px;
    margin: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .DateField {
    margin-left: 5px;
    /* background: #166DAE; */
  }

  .TypeField {
    /* background: #166DAE; */
    margin-left: 10px;
    margin-right: 10px;
  }

  .AmountField {
    /* background: #166DAE; */
    padding-top: 10px;
    height: 34px;
    border-radius: 5px;
  }

  .DescriptionField {
    padding-left: 18px;
    font-size: 17px;
    text-align: left;
    display: inline block;
    overflow-wrap: break-word;
    min-height: 80px;
  }

  .EditField, .DeleteField {
    position: absolute;
    text-align: center;
    font-size: 15px;
  }
  .DeleteField {
    margin-top: 10%;
    margin-left: 22%;
  }
  .EditField {
    margin-top: 50%;
    margin-left: 28%;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>


