<template>
<div>
  <div class="RecordList u-absolute-flex-column">
    <ul class="u-scroller" ref="RecordList_ul">
      <li v-for="record in records" v-bind:key="record.id">
        <record :ref="'record_' + record.id" :record="record" v-on:recordDeleted="recordDeletedHandler($event)" v-on:recordEditBtnClick="recordEditHandler($event)"></record>
      </li>
    </ul>
  </div>
  <div>
    <record-adder class="RecordAdderField" v-on:recordAddBtnClick="recordAddBtnHandler"></record-adder>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import Record from '@/components/Record.vue'
import RecordAdder from '@/components/RecordAdder.vue'
import EventBus from '@/components/EventBus.js'
import { pad } from '@/components/helper.js'
export default {
  data () {
    return {
      records: []
    }
  },
  components: {
    'record': Record,
    'record-adder': RecordAdder
  },
  methods: {
    loadRecordsOrDefault () {
      axios.get('http://localhost:8080/records_file').then(response => {
        var recordsJsonObject = JSON.parse(response.data)
        console.log(recordsJsonObject)
        this.records = recordsJsonObject.records
        if (this.records.length === 0) {
          var year = new Date().getFullYear()
          var month = pad(new Date().getMonth() + 1, 2)
          var date = pad(new Date().getDate(), 2)
          this.records = [{
            id: -1,
            // TODO: Change this to current date.
            date: year + '/' + month + '/' + date,
            amount: 10.0,
            type: 'Car',
            subType: 'Rent',
            description: 'Some initial descriptions.'
          }]
        }
      })
    },
    recordAddBtnHandler () {
      console.log('recordAddedHandler called.')
      this.$router.push('add-record')
    },
    recordDeletedHandler (recordId) {
      console.log('recordDeletedHandler')
      console.log(recordId)
      for (var i = 0; i < this.records.length; i++) {
        if (this.records[i].id === recordId) {
          this.records.splice(i, 1)
          break
        }
      }
    }
  },
  mounted () {
    console.log(this.$refs)
    this.$refs['RecordList_ul'].scrollTop = 10
  },
  created: function () {
    // Load records from json file.
    this.loadRecordsOrDefault()
    // received is of type RecordClass.
    // Event is emitted from addRecordPanel
    EventBus.$on('recordAdded', (received) => {
      console.log('Event received!')
      console.log(JSON.stringify(received))
      if (this.records.length === 1 && this.records[0].id < 0) {
        this.records = []
      }
      this.records.splice(0, 0, {'id': this.records.length, 'date': received._date, 'amount': received._amount, 'type': received._type, 'subType': received._subType, 'description': received._description})
      console.log(this.records)
    })
    EventBus.$on('recordEdited', (received) => {
      console.log('RecordList -> recordEdited')
      console.log(received)
      console.log(received._id)
      // TODO: Store records in a dictionary so this for loop is not needed.
      for (var i = 0; i < this.records.length; i++) {
        console.log(this.records[i].id)
        if (this.records[i].id === received._id) {
          console.log(this.records[i])
          this.records[i].date = received._date
          this.records[i].amount = received._amount
          this.records[i].type = received._type
          this.records[i].subType = received._subType
          this.records[i].description = received._description
          break
        }
      }
      // Reture to normal view.
      var targetRecord = this.$refs['record_' + received._id][0]
      targetRecord.showRecordOverview()
    })
    EventBus.$on('recordEditDiscarded', (received) => {
      this.$refs['record_' + received][0].showRecordOverview()
    })
  }
}
</script>

<style>
  .RecordList ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    height: 500px;
    overflow-y: auto;
  }
  .RecordAdderField {
    margin-left: 5px;
  }
</style>

