<template>
  <div class="RecordAdder u-absolute-flex-column">
    <ul class="RecordAdderRow" v-on:click="addRecord">
      <p>+</p>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {
    addRecord () {
      console.log('Record adding...')
      this.$emit('recordAddBtnClick')
    }
  }
}
</script>

<style scoped>
  .RecordAdderRow {
    background-color: burlywood;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
    height: 60px;
    margin-bottom: 0px;
  }
  .RecordAdderRow p {
    padding-top: 15px;
    overflow: hidden;
  }
</style>

