<template>
<!-- TODO: Change type selection to cascader! -->
<!-- TODO: The left part of the app could be a calender that displays records according to date. -->
  <div id="app">
    <el-row :gutter="20">
      <el-col :span="9" class="bg-purple-dark">
        <transition name="fade">
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </transition>
      </el-col> 
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style scoped>
#app {
  color: #d3dce6;
}
</style>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.bg-purple-dark {
  background: #d3dce6;
  overflow: hidden;
  height: 600px;
  min-width: 500px;
  max-width: 550px;
}
.el-col {
  padding-top: 5px;
  padding-bottom: 10px;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
